[submodule "libraries/BH1750"]
	path = libraries/BH1750
	url = https://github.com/claws/BH1750
[submodule "libraries/DallasTemperature"]
	path = libraries/DallasTemperature
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "libraries/LoRa"]
	path = libraries/LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "libraries/RF24Mesh"]
	path = libraries/RF24Mesh
	url = https://github.com/nRF24/RF24Mesh
[submodule "libraries/RF24"]
	path = libraries/RF24
	url = https://github.com/nRF24/RF24
[submodule "libraries/RF24Network"]
	path = libraries/RF24Network
	url = https://github.com/nRF24/RF24Network
[submodule "libraries/LowPower"]
	path = libraries/LowPower
	url = https://github.com/rocketscream/Low-Power
[submodule "libraries/BME280"]
	path = libraries/BME280
	url = https://github.com/bolderflight/BME280
[submodule "libraries/Vcc"]
	path = libraries/Vcc
	url = https://github.com/Yveaux/Arduino_Vcc
[submodule "arduino-cmake"]
	path = arduino-cmake
	url = https://github.com/ustisha/arduino-cmake
