[submodule "libraries/DallasTemperature"]
	path = libraries/DallasTemperature
	url = https://github.com/milesburton/Arduino-Temperature-Control-Library
[submodule "libraries/LoRa"]
	path = libraries/LoRa
	url = https://github.com/sandeepmistry/arduino-LoRa
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = https://github.com/PaulStoffregen/OneWire
[submodule "libraries/RF24Mesh"]
	path = libraries/RF24Mesh
	url = https://github.com/nRF24/RF24Mesh
[submodule "libraries/RF24"]
	path = libraries/RF24
	url = https://github.com/nRF24/RF24
[submodule "libraries/RF24Network"]
	path = libraries/RF24Network
	url = https://github.com/nRF24/RF24Network
[submodule "libraries/LowPower"]
	path = libraries/LowPower
	url = https://github.com/rocketscream/Low-Power
[submodule "libraries/BME280"]
	path = libraries/BME280
	url = https://github.com/bolderflight/BME280
[submodule "libraries/Vcc"]
	path = libraries/Vcc
	url = https://github.com/Yveaux/Arduino_Vcc
[submodule "arduino-cmake"]
	path = arduino-cmake
	url = https://github.com/ustisha/arduino-cmake
[submodule "libraries/Ethernet"]
	path = libraries/Ethernet
	url = https://github.com/arduino-libraries/Ethernet
[submodule "libraries/Servo"]
	path = libraries/Servo
	url = https://github.com/arduino-libraries/Servo
[submodule "libraries/EEPROMEx"]
	path = libraries/EEPROMEx
	url = https://github.com/thijse/Arduino-EEPROMEx
[submodule "platform/megaavr"]
	path = platform/megaavr
	url = https://github.com/arduino/ArduinoCore-megaavr.git
[submodule "platform/core-api"]
	path = platform/core-api
	url = https://github.com/arduino/ArduinoCore-API
[submodule "libraries/Adafruit_ST7735"]
	path = libraries/Adafruit_ST7735
	url = https://github.com/adafruit/Adafruit-ST7735-Library
[submodule "libraries/Adafruit_GFX"]
	path = libraries/Adafruit_GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library
[submodule "libraries/U8g2lib"]
	path = libraries/U8g2lib
	url = https://github.com/olikraus/u8g2
[submodule "libraries/DHT_nonblocking"]
	path = libraries/DHT_nonblocking
	url = https://github.com/olewolf/DHT_nonblocking
[submodule "libraries/BH1750"]
	path = libraries/BH1750
	url = https://github.com/ustisha/BH1750
[submodule "libraries/Adafruit_ILI9341"]
	path = libraries/Adafruit_ILI9341
	url = https://github.com/adafruit/Adafruit_ILI9341
[submodule "libraries/Adafruit_BusIO"]
	path = libraries/Adafruit_BusIO
	url = https://github.com/adafruit/Adafruit_BusIO
[submodule "libraries/DigitalIO"]
	path = libraries/DigitalIO
	url = https://github.com/greiman/DigitalIO
[submodule "libraries/MCUFRIEND_kbv"]
	path = libraries/MCUFRIEND_kbv
	url = https://github.com/prenticedavid/MCUFRIEND_kbv
[submodule "libraries/DS1307RTC"]
	path = libraries/DS1307RTC
	url = https://github.com/PaulStoffregen/DS1307RTC
[submodule "libraries/TimeLib"]
	path = libraries/TimeLib
	url = https://github.com/PaulStoffregen/Time
[submodule "libraries/RtcDS1307"]
	path = libraries/RtcDS1307
	url = https://github.com/Makuna/Rtc
