$font-size-base: 0.8rem;
$padding-base-vertical: 3px;
$padding-base-horizontal: 4px;
$padding-large-vertical: 5px;
$padding-large-horizontal: 6px;
$padding-small-vertical: 2px;
$padding-small-horizontal: 4px;

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sandstone/bootswatch";

@import "outside-temp.css";