$font-size-base: 0.8rem;

$list-group-item-padding-y: .35rem !default;
$list-group-item-padding-x: 0.6rem !default;

$card-spacer-y: .35rem !default;
$card-spacer-x: 0.6rem !default;

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/sandstone/bootswatch";

@import "outside-temp.css";
@import "log-table.css";

.temp-block, .relay-block {
  width: 280px;
}

.relay-block .relay-buttons {
  float: right;
}

.view-block {
  float: left;
}